__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
.python build/
dist/
lib/
lib64/
sdist/
var/
*.manifest*.spec

# Log files
pip-log.txt
pip-delete-this-directory.txt
*.log

# Environments
.env
.venv
env/
venv/
ENV/

### Visualstudiocode ###
.vscode/*
!.vscode/settings.gson
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.gson
*.code-workspace
.history/
